Repository mihanizm56/loft-taxi-orders-desk: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .ts,.js,.tsx --max-warnings=2, stylelint --fix, stylelint

fix(build-project): build
  src/pages/home/index.tsx
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

build(build-project): build
  package-lock.json
  package.json
  src/_utils/redux/inject-reducers.ts
  src/index.tsx
  src/pages/home/_components/orders-list/index.jsx
  src/pages/home/_components/orders-list/index.module.scss
  src/pages/home/_components/page/index.module.scss
  src/pages/home/_components/page/index.tsx
  src/pages/home/_redux/orders/actions.ts
  src/pages/home/_redux/orders/index.ts
  src/pages/home/_redux/orders/reducer.ts
  src/pages/home/_redux/orders/sagas/index.ts
  src/pages/home/_redux/orders/sagas/orders-saga-watcher.ts
  src/pages/home/_redux/orders/sagas/orders-saga-worker.ts
  src/pages/home/_redux/orders/selectors.ts
  src/pages/home/_redux/orders/types/index.ts
  src/pages/home/index.tsx
  src/services/_redux-store/_types/index.ts
  src/services/_redux-store/index.ts
  src/services/_redux-store/root-reducer.ts
  src/services/router/_types.ts
  src/services/router/components.tsx
  src/services/router/dependencies/get-route-action-result.ts
  src/services/router/dependencies/get-segment-action-result.ts
  src/services/router/index.ts
  src/services/router/middlewares/action-handler.ts
  src/services/router/plugins/restore-scroll-position.ts
  src/services/router/plugins/set-meta.ts
  src/services/router/utils.ts
Due: eslint --ext .ts,.js,.tsx --max-warnings=2, stylelint --fix, stylelint

build(build-project): build
  .eslintrc.js
  .lintstagedrc
  src/pages/home/_components/orders-list/index.tsx
  src/pages/home/_components/page/index.tsx
  src/pages/home/_redux/orders/actions.ts
  src/pages/home/_redux/orders/index.ts
  src/pages/home/_redux/orders/reducer.ts
  src/pages/home/_redux/orders/sagas/orders-saga-watcher.ts
  src/pages/home/_redux/orders/sagas/orders-saga-worker.ts
  src/pages/home/_redux/orders/selectors.ts
  src/pages/home/_redux/orders/types/index.ts
  src/pages/home/index.tsx
  tsconfig.json
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

build(build-project): build
  Procfile
  config-overrides.js
  package.json
  src/_components/loading-text-indicator/index.tsx
  src/_components/loading-text-indicator/loading-text-indicator.css
  src/_styles/variables.css
  src/_utils/page-formatter/index.ts
  src/_utils/redux/inject-reducers.ts
  src/index.tsx
  src/pages/home/_components/icon-components/icon-order-done/index.jsx
  src/pages/home/_components/icon-components/icon-order-progress/index.jsx
  src/pages/home/_components/icon-components/index.ts
  src/pages/home/_components/order-card/index.module.scss
  src/pages/home/_components/order-card/index.tsx
  src/pages/home/_components/orders-list/index.module.scss
  src/pages/home/_components/orders-list/index.tsx
  src/pages/home/_components/page/index.module.scss
  src/pages/home/_components/page/index.tsx
  src/pages/home/_redux/orders/actions.ts
  src/pages/home/_redux/orders/reducer.ts
  src/pages/home/_redux/orders/sagas/orders-saga-worker.ts
  src/pages/home/_redux/orders/selectors.ts
  src/pages/home/_redux/orders/types/index.ts
  src/pages/home/index.tsx
  src/services/_redux/_types/index.ts
  src/services/_redux/index.ts
  src/services/_redux/root-reducer.ts
  src/services/router/_types.ts
  src/services/tokens/index.ts
  src/services/validations/index.ts
  src/types/global.d.ts
Due: eslint --ext .ts,.js,.tsx --max-warnings=2, stylelint --fix, stylelint

fix(fix): fix
  package.json
Due: none

fix(fix): fix
  package-lock.json
  package.json
  src/services/_redux/index.ts
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

build(build-project): build project
  src/_utils/time-formatter/index.ts
  src/pages/home/_components/order-card/index.tsx
  src/pages/home/_components/page/index.module.scss
  src/pages/home/_components/page/index.tsx
  src/pages/home/_containers/orders-list/index.module.scss
  src/pages/home/_containers/orders-list/index.tsx
Due: eslint --ext .ts,.js,.tsx --max-warnings=2, stylelint --fix, stylelint

fix(fix redux devtools): fix redux devtools
  package-lock.json
  package.json
  src/services/_redux/index.ts
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

fix(fix): fix
  src/services/_redux/index.ts
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

fix(fix): fix
  .gitlab-ci.yml
  README.md
  package-lock.json
  package.json
  server.js
  tsconfig.json
Due: eslint --ext .ts,.js,.tsx --max-warnings=2

Path conditions:
  eslint --ext .ts,.js,.tsx --max-warnings=2: any of: *.{ts,tsx,js}
  stylelint --fix: any of: *.{css,scss}
  stylelint: any of: *.{css,scss}
